.container{
    /* width: 100%; */
    height: 100px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
}

.arrowDown{
    width: 16px;
    margin-left: 4px;
}